<!DOCTYPE html PUBLIC \-//W3C//DTD XHTML 1.0 Transitional//EN\ \http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\>
<html xmlns=\http://www.w3.org/1999/xhtml\ >
    <head>
	     <title>enReporting</title>
	</head>
	<body>
			Dear User,<br />
			Kindly be informed that the password of $userName has been reset to $password <br/>
			You need to login to the Reporting application and reset your password within a day so that your account will not get disabled.
	</body>
</html>